<a href="https://colab.research.google.com/github/SriPudipeddi/team_square_roots/blob/Eliza/Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import re
import string

!pip install -q wordcloud
import wordcloud

import nltk
nltk.download('all')
import nltk
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords

!pip install neattext
from neattext.pipeline import TextPipeline
from neattext.functions import  remove_emails, fix_contractions, remove_numbers,remove_emojis,remove_special_characters, remove_stopwords, remove_html_tags, remove_urls, remove_puncts,remove_custom_pattern

from google.colab import drive
drive.mount('/content/drive')

In [2]:
#read in the tweets
df = pd.read_csv('/content/drive/My Drive/WiBD/data/train.csv')

In [3]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
# remove the columns keyword and location
df.drop(['keyword','location'],axis=1,inplace=True)

In [5]:
def clean(text):

    text = text.lower() # make it all lower case
    text = re.sub(r'\n', '', text) # take out any line breaks
  

    specific_cleaning = TextPipeline(steps=[remove_numbers, fix_contractions, remove_stopwords, remove_emails,remove_emojis, remove_html_tags, remove_urls, remove_special_characters])
    text = specific_cleaning.transform(text)
 
    lemmatizer = WordNetLemmatizer()
    text = " ".join([lemmatizer.lemmatize(word) for word in text.split()])

    return text

In [6]:
df['clean_text'] = df['text'].map(clean)
#df["clean_message"] = df.apply(lambda x: final_cleaning(x.content, r'@\w+|#\w+|Re-pinging'), axis=1)

In [8]:
df.head(20)

,id,text,target,clean_text
0,1,Our Deeds are the Reason of this #earthquake M...,1,deed reason earthquake allah forgive
1,4,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
2,5,All residents asked to 'shelter in place' are ...,1,resident asked shelter place notified officer ...
3,6,"13,000 people receive #wildfires evacuation or...",1,people receive wildfire evacuation order calif...
4,7,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby alaska smoke wildfire pour...
5,8,#RockyFire Update => California Hwy. 20 closed...,1,rockyfire update california hwy closed directi...
6,10,#flood #disaster Heavy rain causes flash flood...,1,flood disaster heavy rain cause flash flooding...
7,13,I'm on top of the hill and I can see a fire in...,1,hill fire wood
8,14,There's an emergency evacuation happening now ...,1,emergency evacuation happening building street
9,15,I'm afraid that the tornado is coming to our a...,1,afraid tornado coming area
10,16,Three people died from the heat wave so far,1,people died heat wave far
11,17,Haha South Tampa is getting flooded hah- WAIT ...,1,haha south tampa getting flooded hah wait seco...
12,18,#raining #flooding #Florida #TampaBay #Tampa 1...,1,raining flooding florida tampabay tampa day lo...
13,19,#Flood in Bago Myanmar #We arrived Bago,1,flood bago myanmar we arrived bago
14,20,Damage to school bus on 80 in multi car crash ...,1,damage school bus multi car crash breaking
15,23,What's up man?,0,man
16,24,I love fruits,0,love fruit
17,25,Summer is lovely,0,summer lovely
18,26,My car is so fast,0,car fast
19,28,What a goooooooaaaaaal!!!!!!,0,goooooooaaaaaal

In [9]:
df['clean_text'].head(20)

0                  deed reason earthquake allah forgive
1                 forest fire near la ronge sask canada
2     resident asked shelter place notified officer ...
3     people receive wildfire evacuation order calif...
4     got sent photo ruby alaska smoke wildfire pour...
5     rockyfire update california hwy closed directi...
6     flood disaster heavy rain cause flash flooding...
7                                        hill fire wood
8        emergency evacuation happening building street
9                            afraid tornado coming area
10                            people died heat wave far
11    haha south tampa getting flooded hah wait seco...
12    raining flooding florida tampabay tampa day lo...
13                   flood bago myanmar we arrived bago
14           damage school bus multi car crash breaking
15                                                  man
16                                           love fruit
17                                        summer lovely
18                                             car fast
19                                      goooooooaaaaaal
Name: clean_text, dtype: object

In [10]:
df.head()

,id,text,target,clean_text
0,1,Our Deeds are the Reason of this #earthquake M...,1,deed reason earthquake allah forgive
1,4,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
2,5,All residents asked to 'shelter in place' are ...,1,resident asked shelter place notified officer ...
3,6,"13,000 people receive #wildfires evacuation or...",1,people receive wildfire evacuation order calif...
4,7,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby alaska smoke wildfire pour...