In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
train_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Square_roots/train.csv")
test_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Square_roots/test.csv")

In [4]:
Submission_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Square_roots/sample_submission.csv")

In [11]:
train_df.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [5]:
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [6]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [7]:
train_df.shape, test_df.shape

((7613, 5), (3263, 4))

In [13]:
df1=train_df[['id','text','target']]

In [14]:
df2=test_df[['id','text']]

In [15]:
df1.iloc[4]['text']

'Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school '